.blueprint {
    display: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    border: 2px solid var(--bs-accordion-active-bg);
}

@media (min-width: 768px) { 
    .tabelle {
        width: auto;
        min-width: 600px;
    }
}
  

.tabelle .platz {
    text-align: left;
    width: 4em;
}
.tabelle .spiele, .tabelle .tore, .tabelle .punkte {
    text-align: center;
    width: 5em;
}