body {
    padding: 1em 0;
}

.blueprint {
    display: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    border: 2px solid var(--bs-accordion-active-bg);
}

@media (min-width: 768px) { 
    .tabelle {
        width: auto;
        min-width: 600px;
    }
}

#liga #saison, .liga .saison {
    font-size: 0.8em;
}

.tabelle .platz {
    width: 4em;
}
.tabelle .spiele, .tabelle .tore, .tabelle .punkte {
    width: 5em;
}

.list-group.list-group-striped li:nth-of-type(even){
    background-color: rgba(var(--bs-emphasis-color-rgb), 0.05);
}

.spiel.border-bottom:last-child {
    border-bottom-width: 0 !important;
}

.ergebnis {
    font-weight: bold;
}

@media (max-width: 575.98px) {
    body {
        font-size: 0.8em;
    }
}